header {
    display: flex;          
    flex-direction: column; 
    align-items: center; 
    height: 150px;
}

body {
    font-family: Infer;
}

.tab {
    width:120px;
    height:32px;
    border: none;
    font-weight:600;
    border-radius: 5px;
}

.tab.active {
    background-color: #111;
    color: #FFF;
}

main {
    display: flex;
    justify-content: center;
}


#products-section {
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.products-section-item {
    height:300px; 
    width:200px;
}

.image-section img {
    height: 250px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-title{
    font-weight: 800;
    width:100px;
    display: inline-block;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.vendor {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.compare-at-price{
    padding: 0 5px;
    color: #AAA;
    text-decoration: line-through;
}

.discount {
    color: #FF0000;
}

.add-to-cart {
    width:180px;
    background-color: #111;
    height:32px;
    color: white;
    font-weight: 600;
    border-radius:5px;
}

@media only screen and (max-width: 767px) {
    #products-section {
      flex-direction: column;
    }
    .products-section-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .image-section img {
        padding-right: 10px;
    }
  }